@model Claymore.Models.Session
@using Claymore.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Session</h4>
    <hr />
    <div><strong>Run Date:</strong><em>@Model.SessionDate.ToString("d MMM yyyy")</em></div>
    <div class="row">
        <div class="col-lg-6" >
            <div class="panel panel-primary">
                <div class="panel-heading">Characters</div>
                <div class="panel-body">
                    @foreach (Character character in Model.Characters)
                    {
                        <div><a href="~/Characters/Details/@character.Id.ToString()">@character.Name</a></div>
                    }
                </div>
                <div class="panel-footer"><strong>Base Experience:</strong><em>@Model.BaseXP</em></div>
            </div>
            
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
