@using Claymore.Models
@model Claymore.Models.Session

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Session</h2>
        <button class="btn btn-primary" type="submit">Save</button>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(Model => Model.Id)
        <span><b>Session Name</b><input class="form-control" name="Name" value="@Model.Name" /></span>
        <span><b>Session Date</b><input class="form-control" name="SessionDate" type="datetime" value="@Model.SessionDate.ToShortDateString()"</span>
        <span><b>Base XP</b><input class="form-control" name="BaseXP" value="@Model.BaseXP.ToString()"</span>
        <h3><Campaigns</h3>
        @{
            Claymore.Models.ClaymoreDataModelContainer db = new Claymore.Models.ClaymoreDataModelContainer();
        }
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Campaign camp in db.Campaigns)
                {

                    bool bCheck = false;
                    foreach (Campaign chkCampaign in Model.Campaigns)
                    {
                        if (chkCampaign.Id.Equals(camp.Id)) { bCheck = true; }
                    }
                    <tr>
                        @if (Model.Campaigns.Contains(camp))
                        {
                            <td><input class="form-control" type="checkbox" name="@camp.Id.ToString()" checked /></td>
                            <td><b>@camp.Name.ToString()</b></td>
                        }
                        else
                        {
                            <td><input class="form-control" type="checkbox" name="@camp.Id.ToString()" /></td>
                            <td><b>@camp.Name.ToString()</b></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <h3>Characters</h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Character character in db.Characters)
                {

                    bool bCheck = false;
                    foreach (Character chkCharacter in Model.Characters)
                    {
                        if (chkCharacter.Id.Equals(character.Id)) { bCheck = true; }
                    }
                    <tr>
                        @if (bCheck)
                        {
                            <td>                <input class="form-control" type="checkbox" name="@character.Id.ToString()" checked />            </td>
                            <td><b>@character.Name.ToString()</b></td>
                        }
                        else
                        {
                            <td><input class="form-control" type="checkbox" name="@character.Id.ToString()" /></td>
                            <td><b>@character.Name.ToString()</b></td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>

            }
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
